<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    login test
    <hr/>
    <form action="/user/login">
        <p>账号：<input type="text" name="userName"/></p>
        <p>密码：<input type="text" name="userPwd"/></p>
        <p><input type="radio" name="loginType" value="User"/>普通用户
            <input type="radio" name="loginType" value="Manager"/>管理员</p>
        <p><input type="submit" value="登录"/></p>
    </form>
</body>
</html>